<?php
/**
 * Absolute Web Intellectual Property
 *
 * @copyright    Copyright © 1999-2019 Absolute Web, Inc. (http://www.absoluteweb.com)
 * @author       Absolute Web
 * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
 * @terms of use http://www.absoluteweb.com/terms-of-use/
 */
?>

<?php $helper = Mage::helper('absoluteweb_faq2'); // @todo: you must set properly URI of your helper ?>
<?php $collection = $this->getAllFaq(); ?>


<h1><?php echo $helper->__('Frequently Asked Questions'); ?></h1>
<?php if ($collection->getSize()): ?>

    <?php
    /**
     * @todo Output all faq near each record you must add link to delete and edit it page (use methods deleteAction and editFaqByIdAction)
     */

    foreach($collection as $item):?>

        <h2><?php  echo $item->getQuestion(); ?> </h2>
        <p><?php echo $item->getAnswer(); ?></p>
        <p><a href=" <?php echo Mage::getUrl('crud/index/delete', array('id' => $item->getId()))  ?>">Delete question</a></p>
        <p><a href=" <?php echo Mage::getUrl('crud/index/editFaqById', array('id' => $item->getId()))  ?>">Edit question</a></p>
        <p><?php echo $item->getDate(); ?></p>

    <?php endforeach; ?>
<?php endif; ?>

<p><a href=" <?php echo Mage::getUrl('crud/index/addNewFaq')  ?>">Add question</a></p>
